
.white{
    --bs-table-accent-bg: white!important;
}
.header{
    margin: 5%;
    display: flex;
    gap:30px;
    justify-content: center;
}
select{
    max-width: 150px;
}
.table{
    width: 80%;
    margin: auto;
}
td{
    position: relative;
}
td:hover{
    background-color: azure;
}
img{
    max-width: 15px;
    position: absolute;
    right: -0.2px;
    cursor: pointer;
}
.today{
    margin: 0;
    display: inline;
}
td:has(.today) {    
    --bs-table-accent-bg: rgb(189, 249, 240)!important;
}
.selectTD{
    --bs-table-accent-bg: rgb(238, 225, 246)!important;
    border-color: rgb(153, 0, 255);
    border-width: 2px 0 0 0!important;
}
.date-card{
    width: 70%;
    margin: auto;
    margin-top: 100px;
}
.hasTask{
margin-left: 5%!important;
cursor: pointer;
}